body{
    background: rgba(220, 239, 249, 0.705);
}
.taskflow{
    color: blue;
}
header{
    background: rgba(216, 238, 247, 0.664);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 2px black;
    margin: 0 15px;
}
nav{
    display: flex;
    gap: 60px;   
}
nav a{
    color: rgb(38, 1, 1);
    text-decoration: none;
}
nav a.active{
    font-size: 17px;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
}
form{
    background: white;
    padding: 30px;
    width: 35%;
    margin:  10px auto;
    border-radius: 15px;
    box-shadow: 0 2px 8px black;
}
form h2{
    text-align: center;
    color: rgb(3, 3, 85);
    margin-bottom: 5px;
}
form p{
     text-align: center;
     color: rgb(3, 3, 85);
     margin-bottom: 5px;
}
label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(3, 3, 85);
}
input[type = "text"],
input[type = "email"],
input[type = "password"]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}
input[type = "submit"]{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: blue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
input[type = "submit"]:hover{
    background: rgb(3, 201, 3);
}
.already{
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
.dashboard-task{
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-task{
     width: 70px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: blue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.new-task:hover{
    background: rgb(3, 201, 3);
}
.task-overview{
    background: rgba(195, 234, 249, 0.664);
    padding: 0  60px;
    margin: 0 15px;
    gap: 30%;
    display: flex;
    margin-top: 0;
    border-radius: 8px;
    box-shadow: 0 0 1px black;
}
.strong{
    text-align: center;
    font-size: 25px;
    padding: 0;
    margin: 1px;
}
.task-list{
    background: white;
    margin: 15px;
    padding: 5px;
    border-radius: 8px;
}
.task-list ul li{
    list-style: none;
    padding-left:20px;
    margin: 15px 0;
    font-size: 18px;
}
/*empty check-box*/
.task-list ul li::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    margin-right: 5px;
}
.task-list ul li.task-completed::before{
    content: "✔️";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: blue;
    color: white;
    border: 1px solid black;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
    font-size: 14px; 
    vertical-align: middle;  
    box-sizing: border-box;
}
.task-completed{
    text-decoration: line-through;
    color: gray
}
h1{
    color: rgb(1, 1, 53);
}
.hero{
    position: relative;
    overflow: hidden;
    min-height: 200px;
    background: linear-gradient(135deg, rgb(234, 247, 253),rgb(197, 234, 248));
    padding: 8px 8% 40px;
}

.why-taskflow{
   margin-left: 70px;
   color: rgb(25, 25, 55);
}
.get-started{
    text-decoration: none;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: blue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.get-started:hover{
    background: rgb(3, 201, 3);
}
